@import './common.css';
@import './reset.css';
@import './font.css';


#header{}

#header .header-top{
    display: flex;
position: relative;
margin-top: 8px;} 

#header .header-top .logo a{
    display: block;
    width: 105px;
    height: 27px;
    background-position: -5px -165px;
    margin-top: 5px;
}

#header .header-top .gnb{
    display: flex;}
#header .header-top .gnb .menu-list{
    margin-left: 70px;
    display: flex;
gap: 20px;}
#header .header-top .gnb .menu-list .menu-item{
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
}
#header .header-top .gnb .util-list{
    position: absolute;
    right: 0;
    display: flex;
}
#header .header-top .gnb .util-item{
    padding: 0 10px;
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
}
#header .header-bottom{
    display: flex;
    justify-content: space-between;
position: relative;
}
#header .header-bottom .col{
    display: flex;
    gap: 75px;
    align-items: center;

}
#header .lang-area{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
#header .lang-area select{
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    line-height: 21px;
}
#header .lang-area .btn-lang{
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
    border: 0;
    height: 21px;
    /* margin-left: -1px; */
    display: inline-block;
    padding: 0;
}
#header .header-bottom .slogan-area{
   
    background: url(../img/동행매력.png) no-repeat;
    margin: 38px 0 30px;
    width: 178px;
    height: 51px;
}
#header .header-bottom .search-area{
    width: 520px;
    height: 42px;
    border: 3px solid #2292e9;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -326px;
}
#header .header-bottom fieldset{
    position: relative;
    display: flex;
    height: 42px;
   
   
}

input::placeholder {
    color: #2292e9 
}
#header .header-bottom .input-text{
    flex: 1;
    display: flex;
    width: calc(100% - 42px);
    border: 0;
    padding: 0 10px;
    height: 36px;
    line-height: 38px;}
    #header .search-area .btn-keyboard{
        margin-left: 3px;
        vertical-align: middle;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 42px;
        content: '';
        width: 29px;
        height: 16px;
        background-image: url(../img/ico-kb.png);
    }
    #header .search-area .btn-search{
        display: inline-block;
        width: 36px;
        height: 36px;
       background-position:  -32px -97px;
    }





#header .weather-area{
    display: flex;
    margin-top: 5px;
}
#header  .weather-area .desc-wrap{
    display: flex;
    flex-direction: column;
}
#header .desc-wrap .temp-box{
    display: flex;
}
#header .desc-wrap .temp-box .temp{
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}
#header .desc-wrap .temp-box .desc{
    font-size: 16px;
    letter-spacing: -0.1em;
    display: flex;
    align-items: center;
}
#header .desc-wrap .dust-box{
   
    font-size: 13px;
    letter-spacing: -1.5px;
}
#header .desc-wrap .dust-box .good{
    color: #0D6EFD;
}






#footer{}
#footer .link-list{
    display: flex;
  
    padding: 15px 0;
    border-bottom: 1px solid #d0d0d0;
}

#footer .link-list .link-item{
    padding-right: 10px;
    font-size: 12px;
    color: #636363;
    display: flex;
    align-items: center;
}
#footer .link-list .link-item.bold{
    font-weight: 700;
    color: #000;
}
#footer .link-list .link-item+.link-item{
    padding: 0 10px;
position: relative;
display: flex;
align-items: center;
}
#footer .link-list .link-item+.link-item::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -8px;
    background: #dcdcdc;
}
#footer .link-list .link-item.kakao{
    content: '';
    width: 114px;
    height: 24px;
    background: url(../img/footer.png) no-repeat 0 -30px;
}




#footer .content{
    display: flex;
    padding: 22px 0;
}
#footer .content .group-info{}
#footer .content .group-info a{
   display: flex;
}
#footer .content .group-info a::after{
    width: 108px;
    height: 45px;
    background-position:  -180px 0;
    content: '';
    margin-right: 40px;
}

#footer .content .addr-area .addr{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #636363;
    padding-bottom: 2px;
    font-size: 12px;
}
#footer .content .addr-area .map{
    font-size: 11px;
    font-weight: 400;
}
#footer .content .addr-area .map::after{}